@page
@model RWM_Database.Pages.Forms.ViewContainerModel
@{
    ViewData["Title"] = "ViewContainer";
}

<h1>View Container</h1>

@{
    var data = Model.Form;
    var containerNumber = data.ContainerNumber;
    var sealNumber = data.SealNumber;
    var type = data.Type;
    <b>Container Number: </b>@Html.DisplayFor(m => containerNumber)
    <br />
    <b>Seal Number: </b>@Html.DisplayFor(m => sealNumber)
    <br />
    <b>Type: </b>@Html.DisplayFor(m => type)
}