@page
@model RWM_Database.Pages.Forms.Attachment.ViewAttachmentModel
@{
    ViewData["Title"] = "PreviewAttachment";
}

<h1>PreviewAttachment</h1>

@{
    var base64 = Convert.ToBase64String(@Model.ImagePreview);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}

<img src="@imgSrc" />