@page
@model RWM_Database.Pages.Forms.CreateWasteFormModel
@{
    ViewData["Title"] = "CreateWasteForm";
}

<link rel="stylesheet" href="~/css/form.css">
<form class="form" method="post" id="styled_form">

    <label for="DeclarationNumber">Declaration Number:</label>
    <input type="text" id="DeclarationNumber" name="DeclarationNumber">

    <label for="ContainerNumber">Container Number:</label>
    <select id="ContainerNumber" name="ContainerNumber">
        @foreach (var container in @Model.ContainerList)
        {
        <option value="@container">@container</option>
        }

    </select>

    <label for="Location">Location:</label>
    <input type="text" id="Location" name="Location">

    <label for="ItemDescription">Item Description:</label>
    <input type="text" id="ItemDescription" name="ItemDescription">

    <label for="GenerationProcess">Generation Process:</label>
    <select id="GenerationProcess" name="GenerationProcess">
        <option value="special_project">Special Project</option>
        <option value="facility_upgrade">Facility Upgrade</option>
    </select>


    <input type="submit" value="Submit" asp-page-handler="SubmitButton" />
</form>


